{
  "presets": [{ "presets": ["@babel/preset-env"] },{"plugins":["babel-plugin-root-import"]}],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}